@import "../1-settings/_settings";
@import "../2-tools/_tools";

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include tablet {
    padding: 25px 35px;
  }

  @include escritorio {
    height: 100%;
    padding: auto;
  }
}
