@import "../1-settings/_settings";
@import "../2-tools/_tools";
@import "../6-components/_components";

.modal-box-container {
  margin-top: 20px;
  padding: 35px;
  width: 90%;
  max-width: 500px;
  min-height: 200px;
  background: white;
  border-radius: 10px;
}
