@import "../1-settings/_settings";
@import "../2-tools/_tools";

.sidebar-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  padding: 0 35px 15px 35px;
  background: $lighter;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  @include mayor-a-celular {
    padding: 35px;
    width: 250px;
    flex-grow: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
