@import "../1-settings/_settings";
@import "../2-tools/_tools";

.task-list-container {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  padding: 35px;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 0;

  @include mayor-a-celular {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
}
