@import "../2-tools/_tools";

.todo-manager-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  @include tablet {
    flex-direction: row;
    padding: 20px;
  }

  @include escritorio {
    flex-direction: row;
    padding: 0;
    max-width: 70%;
    height: auto;
  }
}
