// Fonts importation
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:ital,wght@0,400;1,700&display=swap");

$secondary-font: "Montserrat";
$primary-font: "Raleway", sans-serif;

html {
  font-family: $primary-font;
}
