// Update Bulma´s global variables
// Fonts
$family-monospace: "Libre Baskerville", serif;
$family-sans-serif: "Raleway", sans-serif;

// Colors
$primary: $blue;
$link: $ligth-blue;

// Components variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
