<div class="centered-container">
  <form class="modal-box-container" #myForm="ngForm">
    <h1 class="title">Create new List</h1>
    <div class="field-container">
      <div class="form-group input-container -text">
        <input
          #listName="ngModel"
          class="form-control input-text"
          type="text"
          name="listName"
          placeholder="Enter list name"
          required
          [(ngModel)]="model.listName"
          [ngClass]="{ 'is-invalid': myForm.submitted && listName.invalid }"
        />
        <!-- Error -->
        <div class="alert" *ngIf="listName.invalid">
          <p *ngIf="listName.errors.required">Name is required.</p>
        </div>
      </div>
      <span class="input-container">
        <button
          type="submit"
          class="button-main -primary"
          [disabled]="myForm.invalid"
          (click)="createNewList(listName.value)"
        >
          Create
        </button>
        <button class="button-main -secondary -grouped" routerLink="/">
          Cancel
        </button>
      </span>
    </div>
  </form>
</div>
