@import "../../1-settings/_settings";
@import "../../2-tools/_tools";

.title {
  margin: 0;
  color: $blue;
  font: bold 1.5em $secondary-font;
  text-transform: uppercase;

  &.-taskTitle {
    margin: 0.45em 0;
  }
}
