@import "../../1-settings/_settings";
// @import "../../2-tools/_tools";

.button-main {
  display: inline-flex;
  justify-content: center;
  justify-self: flex-end;
  height: 2.5em;
  margin: auto;
  padding-bottom: calc(0.5em - 2px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 2px);
  width: auto;
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  align-items: center;
  box-shadow: none;

  &.-primary {
    background: $blue;
    color: white;
  }

  &.-secondary {
    background: $lighter;
    color: $dark;
  }
}
