@use "sass:color";
@import "../../1-settings/_settings";
@import "../../2-tools/_tools";

.list-menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  margin: 8px;

  @include mayor-a-celular {
    margin: 15px auto 35px auto;
  }

  > .list-menu-item {
    display: none;
    margin-bottom: 5px;
    // padding: 0 15px 10px 15px;
    padding-bottom: 10px;
    width: 100%;
    color: $dark;
    border-radius: 6px;
    text-decoration: none;

    &.-active {
      display: block;
    }

    &.-button {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: flex-end;
    }

    &.-show {
      display: block;
    }

    @include mayor-a-celular {
      display: block;
      margin-bottom: 5px;
      padding: 10px 15px;

      &:hover {
        background: transparentize($cream, 0.5);
      }

      &.-active {
        background: transparentize($orange, 0.5);
      }
    }
  }

  > .list-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    margin-bottom: 5px;
    padding: 10px 15px;
    width: 100%;
    color: $dark;
    border-radius: 6px;

    &.-active {
      background: $lighter;
    }
  }
}
