@import "../../1-settings/_settings";
@import "../../2-tools/_tools";

.task-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  margin: 15px;

  @include mayor-a-celular {
    margin: 15px auto 35px auto;
  }

  > .task-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px 15px 10px 0;
    width: 100%;
    color: $dark;
    border-radius: 6px;
    opacity: 1;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in, transform 0.15s ease-in,
      opacity 0.15s ease-in;

    &:active {
      transform: scale(0.98);
    }

    &.-completed {
      text-decoration: line-through;
      opacity: 0.6;
    }

    @include escritorio {
      .icon-main {
        opacity: 0;
      }

      &:hover {
        box-shadow: 0 0 8px 2px $cream;

        .icon-main {
          opacity: 1;
        }
      }
    }
  }
}
