@mixin flexAlignRow($align, $wrap) {
  display: flex;
  flex-flow: row $wrap;
  align-content: $align;
  align-items: $align;
}

@mixin flexAlignCol($align, $wrap) {
  display: flex;
  flex-flow: column $wrap;
  align-content: $align;
  align-items: $align;
}

@mixin flexJustifyRow($justify, $wrap) {
  display: flex;
  flex-flow: row $wrap;
  justify-content: $justify;
  justify-items: $justify;
}

@mixin flexJustifyCol($justify, $wrap) {
  display: flex;
  flex-flow: column $wrap;
  justify-content: $justify;
  justify-items: $justify;
}

@mixin flexAligJustCol($align, $justify, $wrap) {
  display: flex;
  flex-flow: column $wrap;
  justify-content: $justify;
  justify-items: $justify;
  align-content: $align;
  align-items: $align;
}

@mixin flexAligJustRow($align, $justify, $wrap) {
  display: flex;
  flex-flow: row $wrap;
  justify-content: $justify;
  justify-items: $justify;
  align-content: $align;
  align-items: $align;
}
