@import "../1-settings/breakpoints";

@mixin tablet {
  @media only screen and (min-width: $tablet) and (max-width: $escritorio - 1px) {
    @content;
  }
}

@mixin escritorio {
  @media only screen and (min-width: $escritorio) {
    @content;
  }
}

@mixin mayor-a-celular {
  @media only screen and (min-width: $tablet) {
    @content;
  }
} ;
