/* Absolute */
@mixin absolTopLeft($top, $left) {
  position: absolute;
  top: $top * 1px;
  left: $left * 1px;
}
@mixin absolTopRight($top, $right) {
  position: absolute;
  top: $top * 1px;
  right: $right * 1px;
}

@mixin absolBottomLeft($bottom, $left) {
  position: absolute;
  bottom: $bottom * 1px;
  left: $left * 1px;
}

@mixin absolBottomRight($bottom, $right) {
  position: absolute;
  bottom: $bottom * 1px;
  right: $right * 1px;
}

/* Relative */
@mixin relTopLeft($top, $left) {
  position: relative;
  top: $top * 1px;
  left: $left * 1px;
}
@mixin relTopRight($top, $right) {
  position: relative;
  top: $top * 1px;
  right: $right * 1px;
}

@mixin relBottomLeft($bottom, $left) {
  position: relative;
  bottom: $bottom * 1px;
  left: $left * 1px;
}

@mixin relBottomRight($bottom, $right) {
  position: relative;
  bottom: $bottom * 1px;
  right: $right * 1px;
}
