<div class="centered-container">
  <div class="todo-manager-container">
    <!-- Lists -->
    <div class="sidebar-container" (click)="showMenu()">
      <div class="title-container">
        <h1 class="title">Lists</h1>
        <span class="icon-container">
          <img
            class="icon-main"
            src="../../../assets//icons/edit-regular.svg"
            alt="Edit icon"
            aria-label="Edit list"
            height="100%"
            max-width="36px"
            [routerLink]="['/edit-list', selectedListId]"
          />
          <img
            class="icon-main"
            src="../../../assets//icons/trash-alt-regular.svg"
            alt="Delete icon"
            aria-label="Delete list"
            height="100%"
            max-width="36px"
            (click)="onDeleteList()"
          />
        </span>
      </div>
      <div class="list-menu" role="menubar">
        <a
          class="list-menu-item"
          *ngFor="let list of lists"
          [routerLink]="['/lists', list._id]"
          routerLinkActive=" -active"
          role="menuitem"
          [ngClass]="{ '-show': changeClass }"
        >
          <p>{{ list.title }}</p>
        </a>
      </div>
      <button
        class="button-main -primary"
        [ngClass]="{ '-show': changeClass }"
        routerLink="/new-list"
      >
        + List
      </button>
    </div>

    <!-- To do -->
    <div class="task-list-container has-background-white">
      <h1 class="title -taskTitle">TO DOs</h1>

      <div class="task-list" role="menubar">
        <span
          class="task-item"
          *ngFor="let todo of todos"
          (click)="onTodoClik(todo)"
          [ngClass]="{ '-completed': todo.completed }"
          role="menuitem"
        >
          <p>{{ todo.title }}</p>
          <span class="icon-container">
            <img
              class="icon-main"
              src="../../../assets//icons/edit-regular.svg"
              alt="Edit icon"
              aria-label="Edit list"
              height="100%"
              max-width="36px"
              [routerLink]="['/lists', selectedListId, 'edit-task', todo._id]"
            />
            <img
              class="icon-main"
              src="../../../assets//icons/trash-alt-regular.svg"
              alt="Delete icon"
              aria-label="Delete list"
              height="100%"
              max-width="36px"
              (click)="onDeleteTodo(todo._id)"
            />
          </span>
        </span>
      </div>

      <button class="button-main -primary" routerLink="./new-task">
        + Task
      </button>
    </div>
  </div>
</div>
