.input-text {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  height: 2.5em;
  padding-bottom: calc(0.5em - 2px);
  padding-left: calc(0.75em - 2px);
  padding-right: calc(0.75em - 2px);
  padding-top: calc(0.5em - 2px);
  background: $lighter;
  color: $dark;
  font: 1em/1.5 $primary-font;
  border: 2px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  vertical-align: top;
}

.alert {
  flex: 1 0 100%;
  color: red;
  font-size: 0.8em;
  text-align: center;
}
